
     *{
            margin: 0;
            font-family: 'Rubik', sans-serif;
        }

        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: rgb(13, 88, 187);
        }

        .heading:hover{
            color: brown;
        }

        .cards{
            margin: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
            grid-gap: 4rem;
            justify-content: center;
        }

        .card{
            overflow: hidden;
            box-shadow: 0px 2px 20px 0px rgba(70, 69, 69, 0.3) ;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: transform 200ms ease-in;
        }

        .card__image{
            height: 12rem;
            width: 100%;
            object-fit: contain;
        }
        .card__title{
            padding: 1rem;
        }

        .card__description{
            padding: 0 1rem;
        }

        .card__btn{
            padding: 1rem;
            font-family: inherit;
            font-weight: bold;
            font-size: 1rem;
            margin: 1rem;
            border: 4px solid rgb(114, 48, 48);
            background: transparent;
            color: rgb(24, 119, 111);
            border-radius: 10px;
            transition: background 200ms ease-in,
            color 200ms ease-in    
        }

        .card:hover{
            transform: scale(1.04);
        }
        
        .card:hover .card__btn{
            background: rgb(63, 55, 55);
            color: white;
        }

 